.container {
    width: 640px;
    margin: 20px auto;
}

#video {
    width: 100%;
    height: 480px;
}

.video-container {
    height: 480px;
    text-align: center;
    border: 1px solid #000;
    background: rgba(248, 248, 248, 0.9);
}

.button-container {
    margin-top: 20px;
}